@use '../variables' as var;

$calendar-padding: 20px;
$grid-gap: 5px;
$cell-height: 150px;
$days-padding: 15px;

.calendar {
	@extend %flex;
	border-radius: var.$radius1;
	padding: $calendar-padding 0 0;
	margin-inline: auto;
	// padding-left: $calendar-padding;
	background: var.$color-overlay1;
	height: 2000px;
	text-align: left;
	max-width: 1332px;
	flex-direction: column;
	gap: 20px;
}
// #region topBar
.top-bar {
	text-align: center;
	padding-inline: $calendar-padding;
}

.h {
	// text-align: center
	margin-bottom: 0.3em;
	color: var.$color-accent1;
	text-align: center;
}
.buttons {
	@extend %flex;
	// margin-top: 1em;
	justify-content: space-between;
	font-size: 2.5em;
}
.finger {
	padding: 10px;
}
// #endregion
// #region hoursTab
.hours-tab {
	max-width: 100px;
	padding: 0 $calendar-padding $calendar-padding - 14px;
}
.hours {
	@extend %flex-center;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - $cell-height + 17px - $calendar-padding);
}
.hour {
	@extend %flex-center;
	gap: 10px;
	width: 100%;
	&::after {
		content: '';
		display: block;
		height: 1px;
		background: white;
		opacity: 0.5;
		width: 100%;
	}
}
.h-label {
	color: var.$color-accent1;
	height: $cell-height + $days-padding + $grid-gap - 15.3;
}
// #endregion
// .day{
// 	display: inline-block;
// 	width: 200px;
// }
// #region main content
.content {
	@extend %flex;
	height: calc(100% - $calendar-padding - 2em);
	text-align: center;
}
.days {
	@extend %flex;
	border-radius: var.$radius2 0 var.$radius1 0;
	justify-content: space-between;
	flex-basis: 100%;
	gap: $grid-gap;
	background-color: var.$color-overlay2;
	padding: $days-padding $days-padding $calendar-padding;
}
.column {
	width: 100%;
	& h3 {
		font-size: 3em;
		color: var.$color-accent1;
		line-height: 0.9em;
	}
}
.meetings {
	position: relative;
	height: calc(100% - $cell-height);
}
.cell {
	@extend %flex-center;
	background: var.$color-overlay2;
	border-radius: var.$radius1;
	height: $cell-height;
}
.meeting {
	position: absolute;
	top: var(--top-offset);
	margin-top: $grid-gap * 0.5;
	height: calc(var(--height) - $grid-gap);
	left: 0;
	right: 0;
	flex-direction: column;
	& small {
		opacity: 0.7;
	}
}
.meeting-name {
	color: var.$color-accent2;
}
// #endregion
@media screen and (min-width: var.$breakpoint1) {
	// #region topBar
	$p-offset: 13ch;
	.top-bar {
		position: relative;
	}
	.h,
	.year,
	.month {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.h {
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.month {
		right: calc(50% + $p-offset);
		text-align: right;
	}
	.year {
		left: calc(50% + $p-offset);
		text-align: left;
	}
	// #endregion
}
