@use '../variables' as var;
$margin-bottom: 80px;
.post {
	--avatar-size: 30px;

	margin-top: 0;
	color: var(--color);
	background-color: var.$color-accent1;
	position: relative;
	padding-bottom: $margin-bottom;
	& small {
		font-weight: 500;
	}
	& > h2 {
		@extend %center-text;
		font-weight: 900;
	}
	& > h3 {
		text-indent: var.$text-indent;
	}
	&::before {
		background-color: var.$color-gray3;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 150px + $margin-bottom;
		content: '';
		z-index: -1;
	}
}

.video-layout {
	max-width: 700px;
	margin-inline: auto;
}

.title--short {
	text-align: center;
}
.info {
	--color: #{var.$color-gray1};
}
