// #region Local
// #endregion
// #region Variables;
$breakpoint1: 900px;
$h1-size: min(12vw, 2.6vw + 1.7em);
// #endregion
// #region Typography

@mixin small {
	font-size: 0.889em;
	font-weight: 100;
}
@mixin h4 {
	font-weight: 500;
	font-size: 1.5em;
	line-height: 1.27em;
	@extend %center-text;
}
@mixin h5 {
	font-size: 1.222em;
	font-weight: 500;
}
// #region Mobile
// XXX available weights: 100 300 500 700 900
// NOTE regular-m will spread font attributes to other styles as expected in normal document flow
@mixin regular-m {
	font-family: Spartan, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.7em;
	letter-spacing: 0.1em;
	color: var(--color-gray1);
}
@mixin h1-m {
	font-size: $h1-size;
	letter-spacing: 0.225em;
	font-weight: 700;
	line-height: 0.95em;
	color: var(--color-accent1);
	@extend %center-text;
	@extend %paragraphSpacing;
}
@mixin h2-m {
	font-size: 2em;
	line-height: 0.95em;
	font-weight: 500;
	@extend %center-text;
	@extend %paragraphSpacing;
}
@mixin h3-m {
	font-size: 1.8em;
	line-height: 0.95em;
	@extend %paragraphSpacing;
}
// #endregion
// #region Desktop reset
@mixin regular-d {
	letter-spacing: 10%;
}
@mixin h1-d {
	// font-size: 4.444em;
	line-height: 1.12em;
	// text-align: left;
}
@mixin h2-d {
	font-size: 3.556em;
	text-align: left;
}
@mixin h3-d {
	font-size: 2.222em;
	text-align: left;
	line-height: 1.275em;
}

// #endregion
// #endregion
// #region Utils

%paragraphSpacing {
	// margin-top: 1em;
	margin-bottom: 0.6em;
}
%center-in-oval {
	@extend %center-text;
	border-radius: 100%;
}
%button-padding {
	padding: 0.5em 2.2em;
}
%text-padding {
	padding: 0.5em 1em;
}
%border {
	border-radius: var(--radius1);
	background-color: var(--color-overlay1);
	border: 2px solid var(--color-accent1);
	color: var(--color-gray1);
}
%cell {
	$primary-color: var(--primary-color);
	$secondary-color: var(--secondary-color);
	background: $primary-color;
	padding: 0.3em 0.833em;
	width: 100%;
	&:where(:nth-child(2n)) {
		background: $secondary-color;
	}
}
@mixin letterInCircle($size, $vMultiplier: 1) {
	height: $size;
	line-height: calc($vMultiplier * $size);
	width: $size;
	@extend %center-in-oval;
}
%page-padding-inline {
	padding-inline: var(--page-padding-inline);
}
%flex {
	display: flex;
}
%text-reset {
	font-size: inherit;
	font-family: inherit;
	letter-spacing: inherit;
	font-weight: inherit;
	line-height: inherit;
}
%center-text {
	text-align: center;
}
// #endregion
