/* stylelint-disable-next-line no-empty-source */
@use 'variables' as var;
.main {
	position: relative;
	max-width: 1000px;
	margin-inline: auto;
	// @include var.page-items-margin;
	& section {
		padding-inline: 0;
	}
}
.posts > * + * {
	margin-top: 40px;
}
.posts {
	margin-inline: auto;
}
.applied-filter {
	text-transform: capitalize;
}
@media (min-width: var.$breakpoint1) {
	.applied-filter {
		position: absolute;
		left: 0;
	}
}
