@use 'variables' as var;

$calendar-padding: 20px;
$grid-gap: 5px;
$cell-height: 150px;

.calendar {
	padding: $calendar-padding 0 0 $calendar-padding;
	background: var(--color-overlay1);
	height: 800px;
	text-align: left;
	max-width: 1332px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
// #region topBar
.top-bar {
	text-align: center;
	padding-right: $calendar-padding;
}

.h {
	// text-align: center
	color: var(--color-accent1);
	text-align: center;
}
.buttons {
	@extend %flex;
	justify-content: space-between;
	font-size: 2.5em;
}
.finger {
	padding: 10px;
}
// #endregion

.hours {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	width: 35%;
	max-width: 100px;
	padding-right: 30px;
	padding-bottom: $calendar-padding - 14px;
}
.hour {
	display: flex;
	gap: 10px;
	// justify-content: space-between;
	align-items: center;
	width: 100%;
	&::after {
		content: '';
		display: block;
		height: 1px;
		background: white;
		opacity: 0.5;
		width: 100%;
	}
}
.h-label {
	color: var(--color-accent1);
	height: $cell-height - 40px;
}
// .day{
// 	display: inline-block;
// 	width: 200px;
// }
.content {
	display: flex;
	height: calc(100% - $calendar-padding - 2em);
}
.days {
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
	gap: $grid-gap;
	background-color: var(--color-overlay2);
	padding: 15px 15px $calendar-padding;
	// display: inline-block;
	// width: max(75%, 100% - 150px);
	// height: calc(100% - $calendar-padding);
}
.column {
	// display: inline-block;
	width: 100%;
	// background-color: #aa000055;
	& h3 {
		// margin-top: -11px;
		font-size: 3em;
		color: var(--color-accent1);
		line-height: 0.9em;
	}
}
// .day{
// margin-inline: auto;
// width: fit-content;
// background-color: #aa00aa55;
// }
.cell {
	display: flex;
	align-items: center;
	justify-content: center;
	// flex-direction: column;
	background: var(--color-overlay2);
	border-radius: var(--radius1);
	height: $cell-height;
}
@media screen and (min-width: var.$breakpoint1) {
	// #region topBar
	$p-offset: 13ch;
	.top-bar {
		position: relative;
	}
	.h,
	.year,
	.month {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.h {
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.month {
		right: calc(50% + $p-offset);
		text-align: right;
	}
	.year {
		left: calc(50% + $p-offset);
		text-align: left;
	}
	// #endregion
}
