.wrapper > span:first-child {
	z-index: -1;
	clip-path: inset(0);
}
.image {
	position: fixed !important;
}
// BUG jumping in mobile when bottom toolbar appears on scroll
// See https://css-tricks.com/the-fixed-background-attachment-hack/
