/* stylelint-disable no-duplicate-selectors */
// @import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@use 'variables' as var;
@use '../node_modules/react-toastify/scss/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;500;700;900&display=swap');

// #region Resets
*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
}
ul,
ol {
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}

/* #endregion */
/* #region Root Elements */
body {
	background-color: var.$color-primary;
}
/* #endregion */
/* #region Typography */

// #region Mobile
:where(html) {
	@include var.regular-m;
}
:where(h1) {
	@include var.h1-m;
}
:where(h2) {
	@include var.h2-m;
}
:where(h3) {
	@include var.h3-m;
}
:where(small) {
	@include var.small;
}
:where(h4) {
	@include var.h4;
}
:where(h5) {
	@include var.h5;
}
// #endregion
// #region Desktop reset
@media screen and (min-width: var.$breakpoint1) {
	:where(html) {
		@include var.regular-d;
	}
	:where(h1) {
		@include var.h1-d;
	}
	:where(h2) {
		@include var.h2-d;
	}
	:where(h3) {
		@include var.h3-d;
	}
	// small {
	// 	@include var.small;
	// }
}
// #endregion
/* #endregion */
/* #region Mobile First */
// #region Global Effects
main {
	@include var.page-items-margin;
	padding: 120px var.$page-padding-inline;
}
main > * {
	@extend %page-padding-inline;
}
main > * + * {
	padding-top: 1em;
}
main > * + section {
	padding-block: 2em 3em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
blockquote {
	max-width: 60ch;
}
article,
blockquote {
	margin-inline: auto;
	text-indent: var.$text-indent;
}
html {
	scroll-behavior: smooth;
}
blockquote {
	font-style: italic;
	background-color: var.$color-overlay1;
	padding: 1em;
	& footer {
		@include var.small;
	}
}
:where(button) {
	cursor: pointer;
	border: none;
	background: none;
	@extend %text-reset;
}

.Toastify__toast-container {
	z-index: 150;
	margin-top: 5rem;
}

// #endregion
// #endregion
// #region Desktop And Resets
// #region Global Effects
@media screen and (min-width: var.$breakpoint1) {
	article {
		margin-inline: revert;
	}
}
// #endregion
/* #endregion */
// #region Util classes
.underline {
	text-decoration: underline;
}
.error {
	color: var.$color-red;
}
.success {
	color: var.$color-accent2;
}
// #endregion
