@use 'globals';

.hamburger {
	--color: --var(color-contrast1);
	--thickness: 1px;
	--distance-from-block: 0.6em;
	box-sizing: content-box;
	background: --var(color-black-overlay1);
	border-radius: --var(radius1);
	position: relative;
	border: 2px solid var(--color);
	width: 38px;
	height: 31px;
	cursor: pointer;
}
.hamburger > div,
.hamburger::after,
.hamburger::before {
	background: --var(color);
	width: 1.6em;
	height: --var(thickness);
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
}
.hamburger::before,
.hamburger::after {
	transform: translate(-50%, 50%);
}
.hamburger::before {
	top: --var(distance-from-block);
}
.hamburger::after {
	bottom: --var(distance-from-block);
}

@media screen and (min-width: globals.$breakpoint1) {
	.hamburger {
		display: none;
	}
}
