@use 'variables' as var;
.hamburger {
	$color: var(--color-gray1);
	$thickness: 1px;
	$spread: 5px;
	$line-width: 50%;

	box-sizing: content-box;
	background: var(--color-black-overlay1);
	border-radius: var(--radius1);
	position: relative;
	border: 2px solid $color;
	width: 38px;
	min-width: 1em;
	height: 31px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: $spread;
	& > div,
	&::after,
	&::before {
		background: $color;
		height: $thickness;
		content: '';
		display: block;
		width: $line-width;
		min-width: 12px;
	}
}

@media screen and (min-width: var.$breakpoint1) {
	.hamburger {
		display: none;
	}
}
