@use 'variables' as var;

.header {
	z-index: 9999;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-overlay3);
	width: 100%;
	padding: 0 var(--page-padding-inline);
	height: 10vh;
	min-height: 2.5em;
}

.logo {
	font-size: 0.5rem;
}
.nav-wrapper {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
}
.nav {
	transition: transform 0.5s ease-in-out;
	display: flex;
	flex-direction: column;
	// align-items: flex-end;
	padding: 15px 0 15px 15px;
	gap: 2em;
	background: var(--color-overlay4);
	position: relative;
	left: 100%;
	&.menu-open {
		transform: translateX(-100%);
	}
}
.link {
	@extend %cell;
}
@media screen and (min-width: var.$breakpoint1) {
	.header {
		align-items: flex-start;
	}
	.nav-wrapper {
		position: static;
		overflow: visible;
		transform: none;
		width: 60%;
		min-width: fit-content;
	}
	.nav {
		transition: none;
		flex-direction: row;
		transform: none;
		background: revert;
		padding: 0;
		justify-content: center;
		left: 0;
	}
	.link {
		background: none;
		padding: 0;
		width: auto;
		&:last-child,
		&:first-child {
			margin-left: auto;
		}
		&:last-child {
			@include var.small;
		}
	}
}
