@use 'variables' as var;

.logo {
	color: var(--color-accent1);
	@extend %flex;
	gap: 0.7em;
	align-items: center;
	align-self: center;
	font-size: calc(1.1vw + 10px);
	& svg {
		width: 2em;
	}
	& > h1::first-letter {
		color: var(--color-gray1);
	}
	& > h1 {
		font-weight: 900;
		font-size: 1em;
		margin: 0;
	}
}
