@use 'variables' as var;
$gap: 10px;
$avatar-size: var(--avatar-size, 40px);
$color: var(--color, var.$color-gray1) !important;
.info {
	@extend %flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding-block: 0.4em;
	position: relative;
	color: $color;
}
.category {
	margin-left: 5px;
}
.avatar {
	border-radius: 50px;
	width: $avatar-size;
	height: $avatar-size;
}
.comments-icon path,
.comments-icon {
	fill: $color;
}
.comments-icon {
	margin-left: $gap;
}

.BottomBar {
	transform: translateY(-0.8em);
	min-width: 100%;
	height: 3px;
	background-color: $color;
}
.Text {
	color: $color;
}
@media (min-width: 500px) {
	.comments {
		margin-left: auto;
	}
	.info {
		flex-direction: row;
		justify-content: space-between;
		gap: $gap;
	}
}
