@use 'variables' as var;
$radius: var.$radius1;
$post-gap: 30px;

.post {
	min-width: fit-content;
	// margin-left: 105px;
}
.header {
	width: 100%;
}
.title {
	font-size: 3em;
	text-align: left;
	background-color: var.$color-overlay3;
	border-radius: $radius $radius 0 0;
	word-break: break-all;
}

.info {
	border-radius: 0 0 $radius $radius;
	background-color: var.$color-overlay1;
}
.title,
.info {
	padding: 0.2em max(2vw + 1px, 10px);
}

// post thumbnail
.image {
	display: none !important;
}
// .comments-icon path {
// 	fill: var.$color-gray1;
// }

@media (min-width: 500px) {
	.title {
		word-break: normal;
	}
}
@media (min-width: 1145px) {
	.post {
		position: relative;
	}
	// post thumbnail
	.image {
		display: revert !important;
		transform: translate(-90%, -50%) rotate(45deg) scale(0.8);
		position: absolute !important;
		top: 50%;
		left: -$post-gap;
		border-radius: var.$radius2;
		& img {
			transform: rotate(-45deg) scale(1.35);
		}
	}
}
